<h1> <%= @task.title  %></h1> 
<%= link_to "Edit this task", edit_task_path(@task), class: "button"%>

<p> <%= @task.details  %></p>
<p>    <% if @task.completed %>
    <%= check_box_tag 'completed', '1', true %>
    <%= label_tag 'example', 'This Task is Completed' %>
    <% else %>
    <%= check_box_tag 'completed', '0', false %>
    <%= label_tag 'example', 'This Task is not Completed yet' %>
    <% end %>
 </p>
 

<%= link_to "Back to lists", tasks_path %>
